$colors: (primary: #a36ac4,
    accent: #fff6bb);

$padding: 15px;
$borders: 15px;

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$zoom: 4000px;

@mixin zoom {
    @media (min-width: #{$zoom}) {
        @content;
    }
}

$desktop: 1200px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

$tablet: 767px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

html,
body {
    height: 100%;
    background: linear-gradient(50deg,
            rgba(146, 146, 146, 0.02) 0%,
            rgba(146, 146, 146, 0.02) 25%,
            rgba(82, 82, 82, 0.02) 25%,
            rgba(82, 82, 82, 0.02) 50%,
            rgba(217, 217, 217, 0.02) 50%,
            rgba(217, 217, 217, 0.02) 75%,
            rgba(41, 41, 41, 0.02) 75%,
            rgba(41, 41, 41, 0.02) 100%),
        linear-gradient(252deg,
            rgba(126, 126, 126, 0.01) 0%,
            rgba(126, 126, 126, 0.01) 25%,
            rgba(117, 117, 117, 0.01) 25%,
            rgba(117, 117, 117, 0.01) 50%,
            rgba(219, 219, 219, 0.01) 50%,
            rgba(219, 219, 219, 0.01) 75%,
            rgba(41, 41, 41, 0.01) 75%,
            rgba(41, 41, 41, 0.01) 100%),
        linear-gradient(272deg,
            rgba(166, 166, 166, 0.01) 0%,
            rgba(166, 166, 166, 0.01) 20%,
            rgba(187, 187, 187, 0.01) 20%,
            rgba(187, 187, 187, 0.01) 40%,
            rgba(238, 238, 238, 0.01) 40%,
            rgba(238, 238, 238, 0.01) 60%,
            rgba(204, 204, 204, 0.01) 60%,
            rgba(204, 204, 204, 0.01) 80%,
            rgba(5, 5, 5, 0.01) 80%,
            rgba(5, 5, 5, 0.01) 100%),
        linear-gradient(86deg,
            rgba(143, 143, 143, 0.02) 0%,
            rgba(143, 143, 143, 0.02) 12.5%,
            rgba(36, 36, 36, 0.02) 12.5%,
            rgba(36, 36, 36, 0.02) 25%,
            rgba(23, 23, 23, 0.02) 25%,
            rgba(23, 23, 23, 0.02) 37.5%,
            rgba(223, 223, 223, 0.02) 37.5%,
            rgba(223, 223, 223, 0.02) 50%,
            rgba(101, 101, 101, 0.02) 50%,
            rgba(101, 101, 101, 0.02) 62.5%,
            rgba(94, 94, 94, 0.02) 62.5%,
            rgba(94, 94, 94, 0.02) 75%,
            rgba(148, 148, 148, 0.02) 75%,
            rgba(148, 148, 148, 0.02) 87.5%,
            rgba(107, 107, 107, 0.02) 87.5%,
            rgba(107, 107, 107, 0.02) 100%),
        linear-gradient(25deg,
            rgba(2, 2, 2, 0.02) 0%,
            rgba(2, 2, 2, 0.02) 16.667%,
            rgba(51, 51, 51, 0.02) 16.667%,
            rgba(51, 51, 51, 0.02) 33.334%,
            rgba(26, 26, 26, 0.02) 33.334%,
            rgba(26, 26, 26, 0.02) 50.001000000000005%,
            rgba(238, 238, 238, 0.02) 50.001%,
            rgba(238, 238, 238, 0.02) 66.668%,
            rgba(128, 128, 128, 0.02) 66.668%,
            rgba(128, 128, 128, 0.02) 83.33500000000001%,
            rgba(21, 21, 21, 0.02) 83.335%,
            rgba(21, 21, 21, 0.02) 100.002%),
        linear-gradient(325deg,
            rgba(95, 95, 95, 0.03) 0%,
            rgba(95, 95, 95, 0.03) 14.286%,
            rgba(68, 68, 68, 0.03) 14.286%,
            rgba(68, 68, 68, 0.03) 28.572%,
            rgba(194, 194, 194, 0.03) 28.572%,
            rgba(194, 194, 194, 0.03) 42.858%,
            rgba(51, 51, 51, 0.03) 42.858%,
            rgba(51, 51, 51, 0.03) 57.144%,
            rgba(110, 110, 110, 0.03) 57.144%,
            rgba(110, 110, 110, 0.03) 71.42999999999999%,
            rgba(64, 64, 64, 0.03) 71.43%,
            rgba(64, 64, 64, 0.03) 85.71600000000001%,
            rgba(31, 31, 31, 0.03) 85.716%,
            rgba(31, 31, 31, 0.03) 100.002%),
        linear-gradient(90deg, hsl(80, 0%, 14%), hsl(80, 0%, 14%));
}

#container {
    min-height: 100%;
}

#body {
    padding-bottom: 200px;
    overflow: auto;

    @include desktop {
        padding-bottom: 320px;
    }

    @include zoom {
        padding-bottom: 550px;
    }
}

nav {
    background-color: #434444;
}


body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;

    header a {
        color: #fff;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
    }

    #bg {
        background-image: url("images/indexbg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
    }

    #bglol {
        background-image: url("https://maas.museum/app/uploads/2017/08/splashart1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
    }


}

main {
    @include desktop {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "primary card";
    }

    section#card {
        background: #000;
        opacity: 0.9;
        color: #fff;
        padding: 20px;
        margin: 1em auto;
        border-radius: $borders;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        width: 80%;
        text-align: justify;

        @include desktop {
            grid-area: card;
            height: fit-content;
            margin: 4em 0 4em 4em;
        }

        h1,
        h2,
        p {
            text-align: center;
        }

        p#display {
            color: color(primary);
            font-weight: bold;
            font-size: 20px;
        }
    }

    section#primary {
        color: #fff;
        padding: $padding;
        text-align: center;

        @include desktop {
            grid-area: primary;
            text-align: left;
            margin: 4em 0 0 4em;
        }

        h1 {
            font-size: 3em;
            margin-top: 10px;
            text-transform: uppercase;

            @include desktop {
                width: 80%;
                font-size: 4em;
                line-height: 0.9em;
            }
        }

        p {
            font-size: 1.4em;
        }

        a {
            color: color(primary);
            border-radius: $borders;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            background-color: #fff;
            display: block;
            text-align: center;
            margin: 50px auto 0 auto;
            padding: $padding;
            width: 80%;

            @include desktop {
                display: inline-block;
                padding: $padding $padding * 4;
                width: 300px;
            }
        }
    }
}

.arrow_box {
    position: relative;
    background: #000;
    border-bottom: 5px solid #000;
    border-top: 5px solid #000;
}

.arrow_box:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: rgb(0, 0, 0);
    border-width: 30px;
    margin-left: -30px;
}

#om-container {
    width: 100%;

    section#om {
        color: #fff;
        text-align: center;
        width: 80%;
        margin: 0 auto 0 auto;
        padding: 2.5em 0 2.5em 0;

        p {
            text-align: justify;
        }

        h1 {
            margin-bottom: 20px;
        }

        @include desktop {
            text-align: center;
            margin: auto;
            width: 50%;

            h1 {
                margin-bottom: 0;
            }

            h1 {
                padding: 1em;
                text-transform: uppercase;
            }
        }
    }
}

.padding {
    padding-bottom: 2rem;
}

.social a {
    font-size: 2em;
    padding: 0.7rem;

    @include desktop {
        font-size: 3em;
        padding: 3rem;
    }

    @include tablet {
        font-size: 2.5em;
        padding: 1rem;
    }
}

.fa-envelope,
.fa-discord,
.fa-instagram,
.fa-facebook-square {
    color: #fff;
}

.fa-discord:hover,
.fa-envelope:hover,
.fa-instagram:hover
.fa-facebook-square:hover{
    color: #d5d5d5;
}

a:hover {
    text-decoration: none;
}

footer {
    color: #d5d5d5;
    padding-top: 2rem;
    text-align: center;
    position: relative;
    height: auto;
    margin-top: -200px;
    clear: both;
    background-color: #434444;

    @include desktop {
        height: 325px;
        margin-top: -325px;
    }

    @include desktop {
        height: 325px;
        margin-top: -325px;
    }

    @include zoom {
        height: 550px;
        margin-top: -550px;
    }
}

footer a {
    color: #d5d5d5;
}

hr {
    width: 300px;
    border: 3px solid #fff;
}