$colors: (primary: #a343db,
    accent: #fff6bb);

$padding: 15px;
$borders: 15px;

$tablet: 767px;
$desktop: 1200px;
$zoom: 4000px;

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin zoom {
    @media (min-width: #{$zoom}) {
        @content;
    }
}