$colors: (primary: #a36ac4,
    accent: #fff6bb);

$padding: 15px;
$borders: 15px;

$tablet: 767px;
$desktop: 1200px;
$zoom: 4000px;

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin zoom {
    @media (min-width: #{$zoom}) {
        @content;
    }
}


body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;

    #bglol {
        background-image: url("https://maas.museum/app/uploads/2017/08/splashart1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
    }

    .banner {
        width: 100%;
        background-color: #000000;
        background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
        border-top: 5px solid #000;
        border-bottom: 5px solid #000;

        height: 400px;
        color: color(accent);
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        position: relative;


        h1 {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 4em;
        }
    }
}

main {
    background-image: url("../images/indexbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;

    @include desktop {
        display: grid;
        grid-template-columns: 50% auto;
        //grid-template-areas: "primary card";
    }

    section#card {
        background: #000;
        opacity: 0.9;
        color: #fff;
        padding: 20px;
        margin: 1em auto;
        border-radius: $borders;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        width: 80%;
        text-align: justify;

        @include desktop {
            grid-area: card;
            height: fit-content;
            margin: 4em 0 4em 4em;
        }

        h1,
        h2,
        p {
            text-align: center;
        }

        p#display {
            color: color(primary);
            font-weight: bold;
            font-size: 20px;
        }
    }

    section#primary {
        color: #fff;
        padding: $padding;
        text-align: center;

        @include desktop {
            grid-area: primary;
            text-align: left;
            margin: 4em 0 0 4em;
        }

        h1 {
            font-size: 3em;
            margin-top: 10px;
            text-transform: uppercase;

            @include desktop {
                width: 80%;
                font-size: 4em;
                line-height: 0.9em;
            }
        }

        p {
            font-size: 1.4em;
        }

        a {
            color: color(primary);
            border-radius: $borders;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            background-color: #fff;
            display: block;
            text-align: center;
            margin: 50px auto 0 auto;
            padding: $padding;
            width: 80%;

            @include desktop {
                display: inline-block;
                padding: $padding $padding * 4;
                width: 300px;
            }
        }
    }
}

.arrow_box {
    position: relative;
    background: #000;
    border-bottom: 5px solid #000;
    border-top: 5px solid #000;
}

.arrow_box:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: rgb(0, 0, 0);
    border-width: 30px;
    margin-left: -30px;
}

#om-container {
    width: 100%;

    section#om {
        color: #fff;
        text-align: center;
        width: 80%;
        margin: 0 auto 0 auto;
        padding: 2.5em 0 2.5em 0;

        p {
            text-align: justify;
        }

        h1 {
            margin-bottom: 20px;
        }

        @include desktop {
            text-align: center;
            margin: auto;
            width: 50%;

            h1 {
                margin-bottom: 0;
            }

            h1 {
                padding: 1em;
                text-transform: uppercase;
            }
        }
    }
}

#regler-container {
    color: #fff;
    width: 70%;
    margin: auto;
    padding: 2.5em 0 2.5em 0;
}

.padding {
    padding-bottom: 2rem;
}

.social a {
    font-size: 2em;
    padding: 0.7rem;

    @include desktop {
        font-size: 3em;
        padding: 3rem;
    }

    @include tablet {
        font-size: 2.5em;
        padding: 1rem;
    }
}

.fa-envelope,
.fa-discord,
.fa-instagram,
.fa-facebook-square {
    color: #fff;
}

.fa-discord:hover,
.fa-envelope:hover,
.fa-instagram:hover .fa-facebook-square:hover {
    color: #d5d5d5;
}

a:hover {
    text-decoration: none;
}

footer {
    color: #d5d5d5;
    padding-top: 2rem;
    text-align: center;
    position: relative;
    height: auto;
    margin-top: -200px;
    clear: both;
    background-color: #434444;

    @include desktop {
        height: 325px;
        margin-top: -325px;
    }

    @include desktop {
        height: 325px;
        margin-top: -325px;
    }

    @include zoom {
        height: 550px;
        margin-top: -550px;
    }
}

footer a {
    color: #d5d5d5;
}

hr {
    width: 300px;
    border: 3px solid #fff;
}