/*nav {
    background-color: #000;
    box-shadow: 0px 5px 10px #000;

    img {
        width:100px;
    }
}*/

footer {
    color: #fff;
    padding-top: 2rem;
    text-align: justify; 
    position: relative;
    height: auto;
    font-family: 'Roboto', sans-serif;
    margin-top: -200px;
    background-color: #000;

    .container{
    margin-top:25px !important;
    }

    a{
        text-decoration: none;
        color:gray;

        &:hover{
            color:#d5d5d5;
        }
    }

    img{
        width:25%; 
        margin-bottom: 50px;

        @include desktop{
            width: 50%;
        }

        &:first-of-type{
            margin-bottom: 50px;
        }
    }

    h5{
        font-weight: bold;
        margin-bottom: 15px;
        color:#fff;
    }

    p{
        color:gray;
    }

    @include desktop {
        height: 325px;
        margin-top: -325px;
        margin-left: 0;
    }

    @include zoom {
        height: 550px;
        margin-top: -550px;
    }

}

header.scrolled {
    background-color: #000 !important;
    transition: all 0.3s;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 15px 0 rgba(0, 0, 0, 0.71);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.20);
}

header {
    height: 80px;
    padding: 0 15px 0 5px;
    z-index: 101;
    position: fixed;
    transition: all 0.3s;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

    @media (min-width: 767px) {
        height: 80px;
        padding: 0 30px;
    }

    #hamburger {
        overflow: hidden;
        width: 41px;
        height: 38px;
        margin-top: 0px;
        z-index: 1;

        div {
            svg {
                margin-top: -15.5px;
                margin-left: -14px;
                width: 65px;
                height: 65px;
                cursor: pointer;
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

                path {
                    fill: none;
                    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
                    -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
                    -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
                    -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
                    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
                    stroke-width: 40px;
                    stroke-linecap: round;
                    stroke: color(primary);
                    stroke-dashoffset: 0px;

                    &#top,
                    &#bottom {
                        stroke-dasharray: 240px 950px;
                    }

                    &#middle {
                        stroke-dasharray: 240px 240px;
                    }
                }
            }
        }

        &.cross {
            path {
                &#top,
                &#bottom {
                    stroke-dashoffset: -650px;
                    stroke-dashoffset: -650px;
                }

                &#middle {
                    stroke-dashoffset: -115px;
                    stroke-dasharray: 1px 220px;
                }
            }
        }
    }

    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);

        a {
            padding: 16px 8px;
            text-decoration: none;
            font-size: 20px;
            color: color(white);
            display: block;
            transition: 0.3s;

            @media screen and (min-height: 450px) {
                font-size: 36px;
            }

            &:hover,
            &:focus {
                color: #f1f1f1;
            }
        }

        .closebtn {
            position: absolute;
            font-size: 40px;
            top: 15px;
            right: 35px;

            @media screen and (min-height: 450px) {
                font-size: 60px;
                top: 20px;
                right: 45px;
            }
        }

        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }
    }

    a {
        background-color: transparent;
        color: color(white);
        text-decoration: none;
        padding: 0 4px;
        transition: color 0.2s ease;
        position: relative;

        &:active,
        &:hover {
            outline: 0;
        }
    }

    .left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .logo {
            width: 130px;


            a {
                display: block;
                background: 0 0 !important;
                z-index: 2;
            }

            img {
                display: block;
                border: 0;
                max-width: 100%;

            }
        }

        nav {
            display: block;

            ul {
                display: -webkit-box;
                display: -ms-flexbox;
                display: none;
                margin: 0;

                @include desktop {
                    display: flex;
                }

                li {
                    margin-left: 25px;
                    list-style-type: none;

                    &:first-child {
                        margin-left: 0;
                    }

                    >a {
                        display: block;
                        font-size: 13px;
                        line-height: 17px;
                        position: relative;
                        background: 0 0;
                        font-weight: 600;
                        //color: #7880a4;
                        color: #fff;
                        cursor: pointer;
                        font-family: Montserrat, sans-serif;
                        transition: color 0.25s;

                        &:hover {
                            background: 0 0;
                            color: #808080;

                            &:before {
                                opacity: 1;
                            }
                        }

                        &:before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 2px;
                            background-color: #a343db;
                            bottom: -30px;
                            left: 0;
                            opacity: 0;
                            pointer-events: none;
                            transition: all 0.25s;
                        }

                        &.active {
                            color: color(white);

                            &:before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        margin-left: 20px;

        button {
            color: inherit;
            font: inherit;
            margin: 0;
            overflow: visible;
            text-transform: none;
            -webkit-appearance: button;
            cursor: pointer;
            position: relative;
            background: 0 0;
            border: 0;
            padding: 10px;
            width: 38px;
            height: 35px;

            @include desktop {
                display: none;
            }

            &::-moz-focus-inner {
                border: 0;
                padding: 0;
            }

            &:hover {

                span {
                    background: #fff;

                    &:after,
                    &:before {
                        background: #fff;
                    }

                }
            }

            &:active,
            &:focus {
                outline: 0;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 18px;
                height: 3px;
                background: #7880a4;
                transition: background 0.25s;

                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    background: #7880a4;
                    width: 18px;
                    height: 3px;
                    left: 50%;
                    margin-left: -9px;
                    transition: background 0.25s;
                }

                &:before {
                    top: -6px;
                }

                &:after {
                    bottom: -6px;
                }
            }
        }
    }

    * {
        box-sizing: border-box;
        outline: 0;
    }
}

/*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: #a8aeca;
    border: 0 none #fff;
    border-radius: 10px;
    transition: background 0.2s ease;

    &:hover {
        background: #969bb3;
    }

    &:active {
        background: #787d92;
    }
}

::-webkit-scrollbar-track {
    background: #1f2233;
    border: 0 none #fff;
    border-radius: 50px;
}

::-webkit-scrollbar-corner {
    background: 0 0;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
    color: #676e8a;
}*/