.ham_on {
    overflow-y: hidden;
    padding-right: 10px !important;

    ::-webkit-scrollbar-thumb {
        background: rgb(0, 0, 0) !important;
    }    
}


html {
    visibility: hidden;
}
html,
body {
    background-color: #000;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #a343DB;
    border: none;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}

::-webkit-scrollbar-thumb:active {
    background: white;
}

#container {
    min-height: 100%;
}

#body {
    padding-bottom: 200px;
    overflow: auto;
    overflow-y: hidden;

    @include desktop {
        padding-bottom: 320px;
    }

    @include zoom {
        padding-bottom: 550px;
    }
}

hr {
    width: 300px;
    border: 3px solid #fff;
}

a:hover {
    text-decoration: none;
}

.padding {
    padding-bottom: 2rem;
}

.social a {
    font-size: 2em;
    padding: 0.7rem;

    @include desktop {
        font-size: 3em;
        padding: 3rem;
    }

    @include tablet {
        font-size: 2.5em;
        padding: 1rem;
    }
}