  .information {
      background-color: #101011;

      section#information {
          width: 100%;
          margin: 80px auto;
          color: #fff;
          font-family: 'Montserrat', sans-serif;
          padding: 50px 50px 0 50px;
          line-height: 2;

          @include desktop {
              width: 70%;
          }

          /* Create two equal columns that floats next to each other */
          /*.column {
            float: left;
            width: 100%;
            padding: 50px 50px 0 50px;
            height: 100%;
            background-color: transparent;
            text-align: justify;
        }*/

          /* Clear floats after the columns */
          /*.row {
            margin-left: 0;
            margin-right: 0;

            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }*/

          h1 {
              text-align: center;
              font-weight: bold;
              text-transform: uppercase;
              margin-bottom: 40px;
              margin-top: 40px;
              font-size: 1.5em;

              @include desktop {
                  font-size: 2em;
              }
          }

          ul {
              list-style: none;
              padding: 0;

              li {
                  border-bottom: 1px solid #fff;
              }
          }

          .faq{
              font-size:4em;
              color:color(primary);
          }

      }
  }