body#body_kontakt {
    .kontakt {
        /*background-image: url(https://wallpaperplay.com/walls/full/3/8/f/313814.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;

    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(163,67,219,1) 100%, rgba(255,255,255,1) 100%);*/

        background-color: #101011;
    }

    section#kontakt {
        width: 100%;
        margin: 80px auto;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        padding: 30px 20px 0px 20px;

        @include desktop {
            width: 100%;
        }

        @include desktopxl {
            width: 80%;
            padding: 50px 50px 0 50px;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            height: 100%;
            background-color: transparent;

            @include desktop {
                width: 50%;
                text-align: justify;
            }
        }

        /* Clear floats after the columns */
        .row {
            margin-left: 0;
            margin-right: 0;

            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }

        img#skola {
            width: 100%;
            border: 1px solid #fff;
            height: auto;
            margin-bottom: 20px;

            @include desktop {
                height: 350px;
            }
        }

        h1 {
            color: #fff;
            font-size: 1.8em;
            text-transform: uppercase;
            font-weight: 500;
            transition: opacity 0.5s linear;
            letter-spacing: 0.1em;
            line-height: 1.5;
    
            @include tablet {
                font-size: 2em;
                letter-spacing: 0.1em;
            }
    
            @include desktop {
                font-size: 2.5em;
                letter-spacing: 0.15em;
            }
        }

        iframe {
            margin-bottom: 20px;
            border: 1px solid #fff;
            height: 200px;

            @include tablet {
                height: 400px;
            }


            @include desktop {
                height: 350px;
            }
        }

    }
}