#bglol {
    background-image: url("https://maas.museum/app/uploads/2017/08/splashart1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
}