.w-100{
    background-image: url("https://cdn.discordapp.com/attachments/618415708023291935/628626494654251044/apps.png");
}

section #card {
    background: #000000;
    opacity: 0.9;
    color: #fff;
    padding: 20px;
    margin: 1em auto;
    border-radius: $borders;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 80%;
    text-align: justify;

    @include desktop {
        grid-area: card;
        height: fit-content;
        margin: 4em 0 4em 4em;
    }

    h1,
    h2,
    p {
        text-align: center;
    }

    p#display {
        color: color(primary);
        font-weight: bold;
        font-size: 20px;
    }
}